<div id="footer">
    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-grid-collapse">
            <div class="uk-width-1-1 uk-width-medium-1-2 support">
                <p>
                    <span class="uk-badge">18+</span>
                    Техподдержка, сотрудничество, вся фигня &mdash;
                    <a href="mailto:adam@jasn.ru">adam@jasn.ru</a>
                </p>
            </div>
            <div class="uk-width-1-1 uk-width-medium-1-2 copyright">
                <p>
                    &copy; 2016.
                    Коллективное сознательное
                    <a href="/"><img src="/img/logo.png" width="45" alt="JASN"></a>
                </p>
            </div>
        </div>
    </div>
</div>