<div id="user_panel">
    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-grid-collapse container_no_padding_horizontal">
            <div class="uk-width-1-2 uk-width-medium-1-5">
                <a href="#" class="user_panel_link user_panel_link_profile">
                    <img class="profile_img uk-border-circle" src="img/user.svg" width="20" alt="">
                    Луис Корвалан
                </a>
            </div>
            <div class="uk-width-1-2 uk-width-medium-4-5">
                <div class="uk-grid uk-grid-collapse uk-height-1-1">
                    <div class="uk-width-1-5">
                        <a href="#" class="user_panel_link"><i class="uk-visible-small uk-icon-plus"></i><span class="uk-hidden-small">Написать в блог</span></a>
                    </div>
                    <div class="uk-width-1-5">
                        <a href="#" class="user_panel_link"><i class="uk-visible-small uk-icon-comments"></i><span class="uk-hidden-small">Мои сообщения</span></a>
                    </div>
                    <div class="uk-width-1-5">
                        <a href="#" class="user_panel_link"><i class="uk-visible-small uk-icon-calendar-check-o"></i><span class="uk-hidden-small">Отложенные записи</span></a>
                    </div>
                    <div class="uk-width-1-5">
                        <a href="#" class="user_panel_link"><i class="uk-visible-small uk-icon-bullhorn"></i><span class="uk-hidden-small">Лента событий</span></a>
                    </div>
                    <div class="uk-width-1-5">
                        <a href="#" class="user_panel_link"><i class="uk-visible-small uk-icon-cogs"></i><span class="uk-hidden-small">Настройки</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>