<div id="user_panel">
    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-grid-collapse">
            <div class="uk-width-1-5">
                <a href="#" class="user_panel_link">
                    <img class="profile_img uk-border-circle" src="img/user.svg" width="22" alt="">
                    Луис Корвалан
                </a>
            </div>
            <div class="uk-width-4-5">
                <div class="uk-grid uk-grid-collapse">
                    <div class="uk-width-1-5">
                        <a href="#" class="user_panel_link">Написать в блог</a>
                    </div>
                    <div class="uk-width-1-5">
                        <a href="#" class="user_panel_link">Мои сообщения</a>
                    </div>
                    <div class="uk-width-1-5">
                        <a href="#" class="user_panel_link">Отложенные записи</a>
                    </div>
                    <div class="uk-width-1-5">
                        <a href="#" class="user_panel_link">Лента событий</a>
                    </div>
                    <div class="uk-width-1-5">
                        <a href="#" class="user_panel_link">Настройки</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>