.button-empty {
    padding: 0px 25px;
    background-color: transparent;
    color: #79aef2;
    box-shadow: 0px 0 0 0 #79aef2,
                0 0px 0 0 #79aef2,
                1px 1px 0 0 #79aef2,   /* Just to fix the corner */
                1px 0 0 0 #79aef2 inset,
                0 1px 0 0 #79aef2 inset;
}

/* Hover */
.button-empty:hover,
.button-empty:focus {
    background-color: transparent;
    color: #7cbff2;
    box-shadow: 0px 0 0 0 #79aef2,
                0 0px 0 0 #79aef2,
                1px 1px 0 0 #79aef2,   /* Just to fix the corner */
                1px 0 0 0 #79aef2 inset,
                0 1px 0 0 #79aef2 inset;
}

/* Active */
.button-empty:active,
.button-empty.uk-active {
    background-color: #79aef2;
    color: #FFF;
    box-shadow: 0px 0 0 0 #79aef2,
                0 0px 0 0 #79aef2,
                1px 1px 0 0 #79aef2,   /* Just to fix the corner */
                1px 0 0 0 #79aef2 inset,
                0 1px 0 0 #79aef2 inset;
}