#footer {
    background-color: #f6f7f9;
    padding: 15px 0;
    color: #596273;
    font-size: 12px;
    border-top: 1px solid #dce1ea;
    margin-top: 40px;

    .support {
        text-align: center;
        @media (min-width: $breakpoint-medium) {
            text-align: left;
        }

        .uk-badge {
            font-size: 12px;
            line-height: 16px;
            border-radius: 3px;
            padding: 3px 6px;
            margin-right: 15px;
        }
    }

    .copyright {
        text-align: center;
        @media (min-width: $breakpoint-medium) {
            text-align: right;
        }
    }
}