#user_panel {
    background-color: #6db8f1;
    font-size: 14px;

    a {
        color: #fff;
        &.user_panel_link {
            text-decoration: none;
            &:hover {
                background-color: #7cbff2;
                text-decoration: none;
            }
        }
    }

    .user_panel_link {
        display: block;
        box-sizing: border-box;
        text-align: center;
        color: #fff;
        padding: 10px;
        height: 100%;
        width: 100%;

        &:after {
            content: '';
            display:inline-block;
            vertical-align:middle;
            height:100%;
            width:0px;
        }

        &.user_panel_link_profile {
            @media (min-width: $breakpoint-medium) {
                text-align: left;
            }

            .profile_img {
                margin-right: 10px;
                background-color: #fff;
                text-align: center;
            }
        }

        > span {
            display:inline-block;
            vertical-align:middle;
        }
    }
}