$base-h1-font-size: 32px;
$base-h1-line-height: 40px;

$base-link-color: #79aef2;
$base-link-hover-color: #79aef2;

$badge-background: #79aef2;

$article-meta-font-size: 14px;
$article-meta-line-height: 18px;
$article-meta-color: #b8bdc5;

$article-lead-color: #848b9a;
$article-lead-font-size: 16px;
$article-lead-line-height: 22px;

$icon-button-background: #79aef2;
$icon-button-color: #fff;
$icon-button-width: 30px;
$icon-button-hover-background: #79aef2;
$icon-button-hover-color: #fff;